<div  style="background-color: #d5d7d8cb; height: 1000px;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1781cc;">
      <div class="container-fluid">
          
        <a class="navbar-brand" href="#" style="color: white">Multi Imóveis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color: white">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">Comprar </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">Alugar</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                Cadastrar
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/cadimovel">Imóveis</a></li>
                <li><a class="dropdown-item" routerLink="/cadimobiliaria">Imobiliaria</a></li>
                <li><a class="dropdown-item" routerLink="/cadlocador">Locador</a></li>
                <li><a class="dropdown-item" routerLink="/cadproprietario">Proprietáro</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">Entrar</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Digite aqui..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="color: white">Procurar</button>
          </form>
        </div>
      </div>
    </nav>
    <div container>
        <h5 class="cad-text1">Cadastre aqui o locador</h5>
        <a><svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-person icon-people" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          </svg></a>
          <div class="fomulario">
            <form class="row g-3">
                <div class="col-md-5 form1">
                  <label class="form-label">Nome locador:</label>
                  <input type="text" class="form-control" id="inputNome">
                </div>
                <div class="col-md-5 form1">
                  <label class="form-label">Telefone:</label>
                  <input type="text" class="form-control" id="inputTelefone">
                </div>
                <div class="col-5 form1">
                  <label class="form-label">Data de nascimento:</label>
                  <input type="date" class="form-control" id="inputDatNascimento">
                </div>
                <div class="col-5 form1">
                  <label class="form-label">Email: </label>
                  <input type="email" class="form-control" id="inputEmail" >
                </div>
                
                <div class="col-md-5 form1">
                  <label class="form-label">Fone: </label>
                  <input type="number" class="form-control" id="inputQtdQuartos" min="0" max="150">
                </div>
                <div class="col-md-5 form1">
                    <label class="form-label">Sexo: </label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Feminino
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Masculino
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault3">
                          Não informar
                        </label>
                      </div>
                  </div>
                  <div class="col-md-5 form1">
                    <label class="form-label">Renda mensal: </label>
                    <input type="number" class="form-control" id="inputRendaMensal" min="0" max="11150" >
                  </div>
                  <div class="col-md-5 form1">
                    <label class="form-label">Nome do fiador: </label>
                    <input type="text" class="form-control" id="inputNomeFiador" >
                  </div>
                  <div class="col-5">
                    <button type="submit" class="btn btn-primary btns">Enviar</button>
                  </div>
                  <div class="col-5">
                    <button type="reset" class="btn btn-primary btns ">Excluir</button>
                  </div>
        
                </form>
          </div>
      
        </div>
    
  </div>
  