.cad-text1{
    text-align: center;
    margin-bottom: 30px;
}

.icon-people{
    background-color: lightgray;
    border-radius: 35px;
    margin-left: 46%;
    margin-bottom: 50px;
}


.form1{
    margin: auto;
}

.form2{
    margin-top: 10px;
}

.btns{
    margin-left: 50%;
}
