<div  style="background-color: #d5d7d8cb;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1781cc;">
      <div class="container-fluid">
          
        <a class="navbar-brand" href="#" style="color: white">Multi Imóveis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color: white">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">Comprar </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">Alugar</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                Cadastrar
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/cadimovel">Imóveis</a></li>
                <li><a class="dropdown-item" routerLink="/cadimobiliaria">Imobiliaria</a></li>
                <li><a class="dropdown-item" routerLink="/cadlocador">Locador</a></li>
                <li><a class="dropdown-item" routerLink="/cadproprietario">Proprietáro</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">Entrar</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Digite aqui..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="color: white">Procurar</button>
          </form>
        </div>
      </div>
    </nav>
    <div container>
        <h5 class="cad-text1">Cadastre sua imobiliária</h5>
        <a><svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-house icon-home" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg></a>

        <div class="fomulario">
            <form class="row g-3">
                <div class="col-md-5 form1">
                  <label class="form-label">Nome imobiliária:</label>
                  <input type="text" class="form-control" id="inputNome">
                </div>
                <div class="col-md-5 form1">
                  <label class="form-label">Endereço</label>
                  <input type="text" class="form-control" id="inputEndereco">
                </div>
                <div class="col-5 form1">
                  <label class="form-label">Cidade: </label>
                  <input type="text" class="form-control" id="inputCidade" >
                </div>
                
                <div class="col-md-5 form1">
                  <label class="form-label">Bairro: </label>
                  <input type="text" class="form-control" id="inputBairro">
                </div>
                  <div class="col-md-5 form1">
                    <label class="form-label">Site </label>
                    <input type="text" class="form-control" id="inputSite">
                  </div>

                  <div class="col-5">
                    <button type="submit" class="btn btn-primary btns">Enviar</button>
                  </div>
                  <div class="col-5">
                    <button type="reset" class="btn btn-primary btns ">Excluir</button>
                  </div>

                </form>
          </div>
      
        </div>
  </div>  
