<div  style="background-color: #d5d7d8cb;">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1781cc;">
    <div class="container-fluid">
        
      <a class="navbar-brand" href="#" style="color: white">Multi Imóveis</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: white">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">Comprar </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">Alugar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
              Cadastrar
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/cadimovel">Imóveis</a></li>
              <li><a class="dropdown-item" routerLink="/cadimobiliaria">Imobiliaria</a></li>
              <li><a class="dropdown-item" routerLink="/cadlocador">Locador</a></li>
              <li><a class="dropdown-item" routerLink="/cadproprietario">Proprietáro</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">Entrar</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Digite aqui..." aria-label="Search">
          <button class="btn btn-outline-success" type="submit" style="color: white">Procurar</button>
        </form>
      </div>
    </div>
  </nav>
  <div container>
    <h5 class="cad-text1">Cadastre seu imóvel</h5>
    <a><svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-house icon-home" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
      <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
    </svg></a>
    <div class="fomulario">
      <form class="row g-3">
          <div class="col-md-11 form1">
            <label class="form-label">Endereço:</label>
            <input type="text" class="form-control" id="inputEnd">
          </div>
          <div class="col-md-5 form1">
            <label class="form-label">Bairro:</label>
            <input type="text" class="form-control" id="inputbairro">
          </div>
          <div class="col-5 form1">
            <label class="form-label">CEP:</label>
            <input type="number" class="form-control" id="inputCep">
          </div>
          <div class="col-5 form1">
            <label class="form-label">Cidade: </label>
            <input type="text" class="form-control" id="inputCidade" >
          </div>
          <div class="col-md-5 form1">
              <label class="form-label">Estado:</label>
              <select id="inputState" class="form-select">
      <option value="AC">AC - Acre</option>
      <option value="AL">AL - Alagoas</option>
      <option value="AP">AP - Amapá</option>
      <option value="AM">AM - Amazonas</option>
      <option value="BA">BA - Bahia</option>
      <option value="CE">CE - Ceará</option>
      <option value="DF">DF - Distrito Federal</option>
      <option value="ES">ES - Espírito Santo</option>
      <option value="GO">GO - Goiás</option>
      <option value="MA">MA - Maranhão</option>
      <option value="MT">MT - Mato Grosso</option>
      <option value="MS">MS - Mato Grosso do Sul</option>
      <option value="MG">MG - Minas Gerais</option>
      <option value="PA">PA - Pará</option>
      <option value="PB">PB - Paraíba</option>
      <option value="PR">PR - Paraná</option>
      <option value="PE">PE - Pernambuco</option>
      <option value="PI">PI - Piauí</option>
      <option value="RJ">RJ - Rio de Janeiro</option>
      <option value="RN">RN - Rio Grande do Norte</option>
      <option value="RS">RS - Rio Grande do Sul</option>
      <option value="RO">RO - Rondônia</option>
      <option value="RR">RR - Roraima</option>
      <option value="SC">SC - Santa Catarina</option>
      <option value="SP">SP - São Paulo</option>
      <option value="SE">SE - Sergipe</option>
      <option value="TO">TO - Tocantins</option>
              </select>
            </div>
          <div class="col-md-5 form1">
            <label class="form-label">Quantidade de quartos: </label>
            <input type="number" class="form-control" id="inputQtdQuartos" min="0" max="150">
          </div>
          <div class="col-md-5 form1">
              <label class="form-label">Quantidade de salas: </label>
              <input type="number" class="form-control" id="inputQtdSalas" min="0" max="150">
            </div>
            <div class="col-md-5 form1">
              <label class="form-label">Quantidade de banheiros: </label>
              <input type="number" class="form-control" id="inputQtdBanheiros" min="0" max="150">
            </div>
            <div class="col-md-5 form1">
              <label class="form-label">Quantidade de cozinhas: </label>
              <input type="number" class="form-control" id="inputQtdCozinhas" min="0" max="150">
            </div>
            <div class="col-md-5 form1">
              <label class="form-label">Andares: </label>
              <input type="number" class="form-control" id="inputAndares" min="0" max="150">
            </div>
            <div class="col-md-5 form1">
              <label class="form-label">Complemento: </label>
              <input type="text" class="form-control" id="inputComplemento">
            </div>
            <div class="col-md-5 form1">
              <label class="form-label">Valor venal: </label>
              <input type="number" class="form-control" id="inputValorVenal">
            </div>
            <div class="col-md-5 form1">
              <label class="form-label">Valor locação: </label>
              <input type="number" class="form-control" id="inputValorLocacao">
            </div>
            <div class="col-5 form1 form2">
              <label class="form-label">O imóvel está disponível para: </label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Locação
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Venda
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault3">
                Ambos
              </label>
            </div>
            </div>
         
          <div class="col-md-5 form1">
            <label class="form-label">Situação: </label>
            <input type="text" class="form-control" id="inputQtdQuartos" min="0" max="150">
          </div>
          <div class="col-5">
            <button type="submit" class="btn btn-primary btns">Enviar</button>
          </div>
          <div class="col-5">
            <button type="reset" class="btn btn-primary btns ">Excluir</button>
          </div>
          </form>
    </div>
    </div>
</div>