<div  style="background-color: #d5d7d8cb;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1781cc;">
      <div class="container-fluid">
          
        <a class="navbar-brand" href="#" style="color: white">Multi Imóveis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color: white">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">Comprar </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">Alugar</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                Cadastrar
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/cadimovel">Imóveis</a></li>
                <li><a class="dropdown-item" routerLink="/cadimobiliaria">Imobiliaria</a></li>
                <li><a class="dropdown-item" routerLink="/cadlocador">Locador</a></li>
                <li><a class="dropdown-item" routerLink="/cadproprietario">Proprietáro</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">Entrar</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Digite aqui..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="color: white">Procurar</button>
          </form>
        </div>
      </div>
    </nav>
    </div>